* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.header {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000; }
  .header .logo {
    height: 63px; }

.localisation {
  text-align: center;
  padding: 15px;
  background-color: #eaeaea; }

object {
  width: 100%;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.explorer {
  background-color: #f6f6f6;
  text-align: center; }
  .explorer h2 {
    padding: 40px 50px 20px 50px; }
  .explorer p {
    padding: 0px 30px 30px 30px; }
  .explorer button {
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 50px;
    color: white;
    background: #ff79da;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%); }

.fonctionnement {
  text-align: center; }
  .fonctionnement h2 {
    padding: 30px 15px 20px 15px;
    text-align: start; }
  .fonctionnement p {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px 15px;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
    .fonctionnement p img {
      margin-right: 60px;
      margin-left: 10px; }
  .fonctionnement p:hover {
    transform: scale(1.1); }

.restaurant {
  display: flex;
  background-color: #f6f6f6;
  text-align: start;
  flex-direction: column;
  align-items: center; }
  .restaurant .title {
    width: 100%;
    padding: 30px 20px 20px 20px; }
  .restaurant .card {
    position: relative;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px; }
    .restaurant .card .new {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #99e2d0;
      padding: 9px;
      color: #008766;
      border-radius: 5px; }
    .restaurant .card img {
      width: 100%;
      border-radius: 10px 10px 0 0px;
      height: 12em;
      object-fit: cover; }
    .restaurant .card .card-title {
      position: relative;
      padding: 15px; }
      .restaurant .card .card-title h3 {
        margin-bottom: 5px;
        text-transform: capitalize; }
      .restaurant .card .card-title .icon {
        position: absolute;
        bottom: 25px;
        right: 10px;
        width: 32px;
        fill: transparent;
        transition: fill 1s linear; }
      .restaurant .card .card-title .icon:hover {
        fill: red; }

.footer {
  height: 186px;
  background-color: #353535; }

@media (min-width: 768px) {
  .footer {
    height: 114px;
    position: absolute;
    bottom: 0;
    background-color: #353535; }

  .fonctionnement h2 {
    width: 64%;
    margin: 0 auto; }
  .fonctionnement div {
    justify-content: center;
    display: flex;
    flex-direction: row; } }
@media (min-width: 768px) and (max-width: 1440px) {
  .fonctionnement h2 {
    width: 80%; }
  .fonctionnement p {
    width: 25%; }
    .fonctionnement p img {
      margin-right: 15px; } }
@media (min-width: 1440px) {
  .fonctionnement p {
    width: 20%; } }

/*# sourceMappingURL=homepage.css.map */
