$gradient: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-dual-ring {
  position: absolute;
  top: 40%;
  left: 40%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #1b1919 transparent #1b1919 transparent;
  animation: lds-dual-ring 5s, fadeOut 1s 4.5s forwards;
}
.content {
  opacity: 1;
  animation: fadeIn 5s;
  overflow: hidden;
  z-index: 999;
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
  }
  .header {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    .logo {
      height: 63px;
    }
  }

  .localisation {
    text-align: center;
    padding: 15px;
    background-color: #eaeaea;
  }

  object {
    width: 100%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .explorer {
    background-color: #f6f6f6;
    text-align: center;
    h2 {
      padding: 40px 50px 20px 50px;
    }
    p {
      padding: 0px 30px 30px 30px;
    }
    button {
      padding: 15px;
      border-radius: 50px;
      margin-bottom: 50px;
      color: white;
      background: rgb(255, 121, 218);
      background: $gradient;
      box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out;
    }
    button:hover {
      filter: brightness(1.25);
      box-shadow: 0px 4px 6px 10px rgba(0, 0, 0, 0.1);
    }
  }
  .fonctionnement {
    text-align: center;
    h2 {
      padding: 30px 15px 20px 15px;
      text-align: start;
    }
    p {
      display: flex;
      align-items: center;
      padding: 20px;
      margin: 10px 15px;
      border-radius: 10px;
      background-color: #f6f6f6;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      img {
        margin-right: 60px;
        margin-left: 10px;
      }
    }
    p:hover {
      transform: scale(1.1);
    }
  }
  .restaurant {
    display: flex;
    background-color: #f6f6f6;
    text-align: start;
    flex-direction: column;
    align-items: center;
    .title {
      width: 100%;
      padding: 30px 20px 20px 20px;
    }
    .card {
      position: relative;
      width: 90%;
      background-color: #ffffff;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-bottom: 20px;
      .new {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #99e2d0;
        padding: 9px;
        color: #008766;
        border-radius: 5px;
      }
      img {
        width: 100%;
        border-radius: 10px 10px 0 0px;
        height: 12em;
        object-fit: cover;
      }
      .card-title {
        position: relative;
        padding: 15px;
        h3 {
          margin-bottom: 5px;
          text-transform: capitalize;
        }

        .icon-container {
          margin-left: 1em;
          .icon {
            position: absolute;
            right: 15px;
            top: 0;
            height: 100%;
            width: 25px;
            object-fit: contain;
          }
          .icon-like {
            position: absolute;
            transition: all ease-in 0.5s;
            transform: scale(0);
          }
          &:hover {
            .icon-like {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  .footer {
    height: 186px;
    background-color: #353535;
  }
}
@media (min-width: 768px) {
  .lds-dual-ring {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .content {
    .footer {
      height: 114px;
      position: relative;
      bottom: 0;
      background-color: #353535;
    }
    .fonctionnement {
      h2 {
        width: 64%;
        margin: 0 auto;
      }
      div {
        justify-content: center;
        display: flex;
        flex-direction: row;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .content {
    .fonctionnement {
      h2 {
        width: 80%;
      }
      p {
        width: 25%;
        img {
          margin-right: 15px;
        }
      }
    }
    .restaurant {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .title {
        width: 90%;
      }
      .card {
        width: 40%;
        margin: 20px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .content {
    .fonctionnement {
      p {
        width: 20%;
      }
    }
    .restaurant {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .title {
        width: 80%;
        margin-left: 13%;
      }
      .card {
        width: 30%;
        margin: 20px 50px 20px 50px;
      }
    }
  }
}
