* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.lds-dual-ring {
  position: absolute;
  top: 40%;
  left: 40%; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #1b1919 transparent #1b1919 transparent;
  animation: lds-dual-ring 3s, fadeOut 1s 3s forwards; }

.content {
  opacity: 1;
  animation: fadeIn 3s;
  overflow: hidden;
  z-index: 999; }
  .content a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit; }
  .content .header {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000; }
    .content .header .logo {
      height: 63px; }
  .content .localisation {
    text-align: center;
    padding: 15px;
    background-color: #eaeaea; }
  .content object {
    width: 100%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .content .explorer {
    background-color: #f6f6f6;
    text-align: center; }
    .content .explorer h1 {
      padding: 40px 10px 20px 10px; }
    .content .explorer h2 {
      padding: 40px 50px 20px 50px; }
    .content .explorer p {
      padding: 0px 30px 30px 30px; }
    .content .explorer button {
      padding: 15px;
      border: none;
      border-radius: 50px;
      margin-bottom: 50px;
      color: white;
      background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
      box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out; }
    .content .explorer button:hover {
      filter: brightness(1.25);
      box-shadow: 0px 4px 6px 10px rgba(0, 0, 0, 0.1); }
  .content .fonctionnement {
    padding-bottom: 40px;
    text-align: center; }
    .content .fonctionnement h2 {
      padding: 30px 15px 20px 15px;
      text-align: start; }
    .content .fonctionnement .step {
      display: flex;
      position: relative;
      align-items: center;
      padding: 30px;
      text-align: center;
      margin: 10px 15px;
      border-radius: 20px;
      background-color: #f6f6f6;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer; }
      .content .fonctionnement .step .step-icon {
        position: absolute;
        left: 2em; }
      .content .fonctionnement .step .violet {
        display: none; }
      .content .fonctionnement .step .step:hover .violet {
        display: initial; }
      .content .fonctionnement .step span {
        position: absolute;
        left: 30%; }
      .content .fonctionnement .step .step-count {
        position: absolute;
        left: -10px; }
    .content .fonctionnement .step:hover {
      transform: scale(1.05); }
      .content .fonctionnement .step:hover .violet {
        display: initial; }
  .content .restaurant {
    display: flex;
    background-color: #f6f6f6;
    text-align: start;
    flex-direction: column;
    align-items: center; }
    .content .restaurant .title {
      width: 100%;
      padding: 30px 20px 20px 20px; }
    .content .restaurant .card {
      position: relative;
      width: 90%;
      background-color: #ffffff;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-bottom: 20px; }
      .content .restaurant .card .new {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #99e2d0;
        padding: 9px;
        color: #008766;
        border-radius: 5px; }
      .content .restaurant .card img {
        width: 100%;
        border-radius: 10px 10px 0 0px;
        height: 12em;
        object-fit: cover; }
      .content .restaurant .card .card-title {
        position: relative;
        padding: 15px; }
        .content .restaurant .card .card-title h3 {
          margin-bottom: 5px;
          text-transform: capitalize; }
        .content .restaurant .card .card-title .icon-container {
          margin-left: 1em; }
          .content .restaurant .card .card-title .icon-container .icon {
            position: absolute;
            right: 15px;
            top: 0;
            height: 100%;
            width: 25px;
            object-fit: contain; }
          .content .restaurant .card .card-title .icon-container .icon-like {
            position: absolute;
            transition: all ease-in 0.5s;
            transform: scale(0); }
          .content .restaurant .card .card-title .icon-container:hover .icon-like {
            transform: scale(1); }
  .content .footer {
    height: 186px;
    background-color: #353535; }

@media (min-width: 768px) {
  .lds-dual-ring {
    position: absolute;
    top: 50%;
    left: 50%; }

  .content .footer {
    height: 114px;
    position: relative;
    bottom: 0;
    background-color: #353535; }
  .content .fonctionnement h2 {
    width: 64%;
    margin: 0 auto; }
  .content .fonctionnement div {
    justify-content: center;
    display: flex;
    flex-direction: row; } }
@media (min-width: 768px) and (max-width: 1440px) {
  .content .fonctionnement h2 {
    width: 80%; }
  .content .fonctionnement p {
    width: 25%; }
    .content .fonctionnement p img {
      margin-right: 15px; }
  .content .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .content .restaurant .title {
      width: 90%; }
    .content .restaurant .card {
      width: 40%;
      margin: 20px; } }
@media (min-width: 1440px) {
  .content .fonctionnement p {
    width: 20%; }
  .content .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .content .restaurant .title {
      width: 80%;
      margin-left: 13%; }
    .content .restaurant .card {
      width: 30%;
      margin: 20px 50px 20px 50px; } }

/*# sourceMappingURL=homepage.css.map */
