$gradient: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
@keyframes selectedItem {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3em);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}
.header {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  .logo {
    height: 63px;
    padding-top: 15px;
    text-align: center;
    .goBack {
      position: absolute;
      left: 1em;
      top: 1em;
    }
  }
}
.menu-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.restaurant {
  position: absolute;
  top: 18em;
  width: 100%;
  justify-content: center;
}
.menu {
  position: relative;
  background-color: #eaeaea;
  border-radius: 60px 60px 0px 0px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  padding: 25px 15px 15px 15px;
  .menu-header {
    display: flex;
  }
  .title {
    font-size: 220%;
    padding: 10px 0px 10px 5px;
    font-style: italic;
    font-family: "Shrikhand", serif;
  }
  .icon {
    width: 32px;
    fill: transparent;
    transition: fill 1s linear;
  }
  .icon-container {
    position: relative;
    margin-left: 1em;
    .icon-like {
      position: absolute;
      top: 0;
      left: 0;
      transition: all ease-in 0.5s;
      transform: scale(0);
    }
    &:hover {
      .icon-like {
        transform: scale(1);
      }
    }
  }
  .entry {
    animation: slideIn 1s;
  }
  .dish {
    animation: slideIn 2s;
  }
  .dessert {
    animation: slideIn 3s;
  }
  .menu-type {
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 10px;
  }
  .underline {
    position: absolute;
    left: 1em;
    border-bottom: 3px solid #99e2d0;
    width: 40px;
    margin-top: 25px;
  }
  .menu-item {
    transition: all ease-in 0.5s;
    width: 100%;
    position: relative;
    padding: 10px 0px 10px 10px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    .menu-item-title {
      font-weight: bold;
    }
    .menu-item-description {
      width: 100%;
      display: flex;
      overflow: hidden;
      .menu-item-subtitle {
        font-size: 90%;
        width: 85%;
        order: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
      }
      .menu-item-price {
        transition: all ease-in 0.5s;
        font-weight: bold;
        order: 2;
        width: 60px;
        transform: translateX(0.5em);
      }
      .menu-item-selected {
        background-color: #99e2d0;
        transition: all ease-in 0.5s;
        position: absolute;
        text-align: center;
        padding: 20px 0;
        width: 50px;
        top: 0;
        bottom: 0;
        border-radius: 0 5px 5px 0;
        right: -50px;
        order: 3;
      }
    }
    &:hover {
      .menu-item-description {
        .menu-item-subtitle {
          width: 70%;
        }
        .menu-item-price {
          transform: translateX(2px);
        }
        .menu-item-selected {
          transform: translateX(-50px);
        }
      }
    }
  }

  .entry,
  .dish,
  .dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
  }
  .order {
    text-align: center;
    margin-top: 10px;
    button {
      padding: 15px 50px 15px 50px;
      border-radius: 50px;
      margin-top: 20px;
      margin-bottom: 50px;
      color: white;
      background: rgb(255, 121, 218);
      background: $gradient;
      transition: all 0.5s ease-in-out;
      box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
    }
    button:hover {
      filter: brightness(1.25);
      box-shadow: 0px 4px 6px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
object {
  width: 100%;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footer {
  height: 186px;
  background-color: #353535;
}
@media (min-width: 768px) {
  .footer {
    height: 114px;
  }
}
@media (min-width: 1440px) {
  .menu-img {
    height: 383px;
    object-fit: cover;
  }
  .restaurant {
    top: 26em;
    text-align: center;
  }
  .menu {
    text-align: start;
    width: 70%;
    border-radius: 25px 25px 0 0;
    .menu-header {
      justify-content: center;
      text-align: center;
      padding: 15px;
      .icon-container {
        margin-top: 20px;
      }
    }
    .menu-type {
      margin-bottom: 10px;
    }
    .menu-type,
    .menu-item {
      width: 65%;
    }
    .underline {
      margin-top: 25px;
      left: 18.4%;
    }
    .menu-item {
      margin-top: 10px;
      .menu-item-price {
        right: 3%;
      }
      .menu-item-description {
        .menu-item-subtitle {
          transition: all ease-in 0.5s;
          width: 94%;
        }
        .menu-item-price {
          width: 6%;
        }
        .menu-item-selected {
          transition: all ease-in 0.5s;
        }
      }
      &:hover {
        .menu-item-description {
          .menu-item-subtitle {
            width: 94%;
          }
          .menu-item-price {
            transform: translateX(-40px);
          }
          .menu-item-selected {
            transform: translateX(-50px);
          }
        }
      }
    }
  }
}
